{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="center">Restaurants</h1>
  <div class="right-align">
    <a href="{% url 'restaurants_create' %}" class="btn">Add Restaurant</a>
  </div>
{% for restaurant in restaurants %}
  <a href="{% url 'detail' restaurant.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ restaurant.name }}</span>
        <p>Location: {{ restaurant.location }}</p>
        <p>Cuisine: {{ restaurant.cuisine }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}