{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>My Restaurants</title>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">myRestaurants</a>
        <ul class="right hide-on-small-and-down">
          <li><a href="/about">About</a></li>
          <li><a href="/restaurants">Restaurants</a></li>
        </ul>
      </div>
    </nav>
  </header>

{% block content %}
{% endblock %}

</body>
</html>